@import "../../scss/variables";
@import "../../scss/mixins";

.u-drawer-content {
  height: 100%;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, .12);

  .u-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
}

#main-content {
  padding-top: 56px;
}

@include media-breakpoint-up(lg) {
  #app-bar {
    left: 256px;
  }
}

.example-box {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  overflow: auto;
  background: $gray-300;

  //.u-toolbar {
  //  background: $gray-300;
  //}


  .u-floating-action-area {
    position: static;
  }

  .u-floating-menu {
    position: relative;
    margin-top: 200px;
  }
}

.example-box-header {
  padding: 1rem;
  margin-bottom: .5rem;
  background: $gray-100;
}

.limited-height {
  max-height: 300px;
  overflow: auto;
}

.example-box .u-chip-avatar {
  background: rgba(0, 0, 0, .54);
}

.example-step-content {
  width: 100%;
  height: 300px;
  background: #ccc;
}

.menu-example {
  .example-box-header {
    height: 14rem;

  }

  .u-toolbar {
    background-color: #fff;
  }
}

.u-card {
  margin-bottom: 8px;
}

.u-card-media,
.u-card-media-wide {
  background: url("/img/venice.jpg") center;
  background-size: cover;
}

.chapter,
.article-title {
  margin-top: 80px;
}

.chapter-title,
.article-title {
  margin-bottom: 48px;
  font-size: 2rem;
  font-weight: 400;
  color: $u-primary-color;
}

.article-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

pre {
  margin: 0;
}

code {
  padding: 1rem !important;
  background: transparent !important;
}
