.sidebar {
  height: 100%;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.12); }

.sidebar .toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.example-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem;
  overflow: auto;
  background: #e0e0e0; }
  .example-box .toolbar {
    background: #e0e0e0; }
  .example-box .floating-action-area {
    position: static; }
  .example-box .floating-menu {
    position: relative;
    margin-top: 200px; }

.example-box-header {
  padding: 1rem;
  margin-bottom: .5rem;
  background: #f5f5f5; }

.limited-height {
  max-height: 300px;
  overflow: auto; }

.example-box .chip-avatar {
  background: rgba(0, 0, 0, 0.54); }

.example-step-content {
  width: 100%;
  height: 300px;
  background: #ccc; }

.menu-example .example-box-header {
  height: 14rem; }

.menu-example .toolbar {
  background-color: #fff; }

.card {
  margin-bottom: 8px; }

.card-media,
.card-media-wide {
  background: url("/img/venice.jpg") center;
  background-size: cover; }

.chapter,
.article-title {
  margin-top: 80px; }

.chapter-title,
.article-title {
  margin-bottom: 48px;
  font-size: 2rem;
  font-weight: 400;
  color: #6200ee; }

.article-title {
  margin-bottom: 1rem;
  font-size: 1.5rem; }

pre {
  margin: 0; }

code {
  padding: 1rem !important;
  background: transparent !important; }
