<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/web/">
    <title>Universal Material</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/atelier-sulphurpool-light.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/docs.css">
    <script type="module" src="js/index.js"></script>
    <body class="u-android">
      <div class="u-drawer u-drawer-lg-dismissible">
        <aside class="u-drawer-content u-navigation-drawer">
          <div class="u-drawer-scrollable-container">
            <h6 class="u-navigation-drawer-headline u-headline-s">Material Design</h6>
            <nav class="u-list u-list-selectable"><a class="u-list-item" href="">
                <div class="u-list-item-content">Introduction</div></a>
              <!--a.u-list-item(href="layout/grid.html")
              .u-list-item-content
                span Grid
              
              -->
              <!--a.u-list-item(href="content/typography.html")
              .u-list-item-content
                span Typography
              
              -->
              <!--.u-list-item
              .u-list-item-content
                span Colors
              .u-list-item-icon.mdi.mdi-chevron-down
              
              -->
              <!--.nested-menu-items
              a.u-list-item(href="utilities/text-colors.html")
                .u-list-item-content
                  span Text
              a.u-list-item(href="utilities/background-colors.html")
                .u-list-item-content
                  span Background
              a.u-list-item(href="utilities/text-and-background-colors.html")
                .u-list-item-content
                  span Text and background
              
              -->
              <div class="u-list-item">
                <div class="u-list-item-content"><span>Buttons</span></div>
                <div class="u-list-item-icon mdi mdi-chevron-down"></div>
              </div>
              <div class="nested-menu-items"><a class="u-list-item" href="components/common-buttons.html">
                  <div class="u-list-item-content"><span>Common buttons</span></div></a><a class="u-list-item" href="components/fab.html">
                  <div class="u-list-item-content"><span>Floating Action Button (FAB)</span></div></a><a class="u-list-item" href="components/icon-buttons.html">
                  <div class="u-list-item-content"><span>Icon buttons</span></div></a><a class="u-list-item" href="components/button-set.html">
                  <div class="u-list-item-content"><span>Button set</span></div></a></div><a class="u-list-item" href="components/cards.html">
                <div class="u-list-item-content"><span>Cards</span></div></a>
              <!--a.u-list-item(href="components/checkbox.html")
              .u-list-item-content
                span Checkbox
              
              -->
              <!--a.u-list-item(href="components/chips.html")
              .u-list-item-content
                span Chips
              
              --><a class="u-list-item" href="components/data-tables.html">
                <div class="u-list-item-content"><span>Data tables</span></div></a>
              <!--a.u-list-item(href="components/dialogs.html")
              .u-list-item-content
                span Dialogs
              
              --><a class="u-list-item" href="components/dividers.html">
                <div class="u-list-item-content"><span>Dividers</span></div></a>
              <!--a.u-list-item(href="components/lists.html")
              .u-list-item-content
                span Lists
              
              -->
              <!--a.u-list-item(href="components/menus.html")
              .u-list-item-content
                span Menus
              
              -->
              <!--a.u-list-item(href="components/progress.html")
              .u-list-item-content
                span Progress
              
              --><a class="u-list-item" href="components/ripple.html">
                <div class="u-list-item-content"><span>Ripple</span></div></a>
              <!--a.u-list-item(href="components/selection-controls.html")
              .u-list-item-content
                span Selection controls
              
              -->
              <!--a.u-list-item(href="components/sliders.html")
              .u-list-item-content
                span Sliders
              
              -->
              <!--a.u-list-item(href="components/snackbars.html")
              .u-list-item-content
                span Snackbars
              
              -->
              <!--a.u-list-item(href="components/tabs.html")
              .u-list-item-content
                span Tabs
              
              -->
              <!--a.u-list-item(href="components/text-fields.html")
              .u-list-item-content
                span Text fields
              
              -->
              <!--a.u-list-item(href="components/toolbars.html")
              .u-list-item-content
                span Toolbars
              
              -->
            </nav>
          </div>
        </aside>
        <div class="u-drawer-backdrop d-lg-none"></div>
        <div class="u-toolbar u-toolbar-fixed" id="app-bar">
          <div class="u-toolbar-row">
            <div class="u-toolbar-start">
              <div class="u-toolbar-actions">
                <button class="u-toolbar-action u-icon-btn" type="button" id="menu-toggle"><i class="u-btn-icon mdi mdi-menu"></i></button>
              </div>
            </div>
            <div class="u-toolbar-center">
              <div class="u-toolbar-title">Material</div>
            </div>
            <div class="u-toolbar-end">
              <div class="u-toolbar-actions"><span class="u-dropdown u-toolbar-action">
                  <button class="u-icon-btn u-dropdown-toggle"><i class="u-btn-icon mdi mdi-theme-light-dark"></i></button>
                  <div class="u-dropdown-menu down-start">
                    <div class="u-dropdown-content">
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Auto)">System</button>
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Light)">Light</button>
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Dark)">Dark</button>
                    </div>
                  </div></span><a class="u-toolbar-action u-icon-btn" href="/angular" title="Universal Material Angular"><i class="u-btn-icon mdi mdi-angular"></i></a>
                <button class="u-toolbar-action u-icon-btn" id="rtl-toggle" type="button" title="Rtl"><i class="u-btn-icon mdi mdi-format-align-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <u-container class="chapter" id="main-content">
          <h4 class="u-display-m chapter-title">Common buttons</h4>
          <h5 class="u-headline-m article-title">Variants</h5>
          <u-card class="example-card" variant="outlined">
<u-card-content><u-button variant="elevated">Elevated</u-button>
<u-button>Filled</u-button>
<u-button variant="tonal">Tonal</u-button>
<u-button variant="outlined">Outlined</u-button>
<u-button variant="text">Text</u-button>
<u-button variant="elevated" disabled>Disabled</u-button>
</u-card-content>
<u-card-content class="example-card-code" slot="after-content">
  <pre><code class="language-html">&lt;u-button variant=&quot;elevated&quot;&gt;Elevated&lt;/u-button&gt;
&lt;u-button&gt;Filled&lt;/u-button&gt;
&lt;u-button variant=&quot;tonal&quot;&gt;Tonal&lt;/u-button&gt;
&lt;u-button variant=&quot;outlined&quot;&gt;Outlined&lt;/u-button&gt;
&lt;u-button variant=&quot;text&quot;&gt;Text&lt;/u-button&gt;
&lt;u-button variant=&quot;elevated&quot; disabled&gt;Disabled&lt;/u-button&gt;
</code></pre>
</u-card-content>
          </u-card>
          <h5 class="u-headline-m article-title">Filled colors</h5>
          <u-card class="example-card" variant="outlined">
<u-card-content><u-button>Filled</u-button>
<u-button color="secondary">Secondary</u-button>
<u-button color="tertiary">Tertiary</u-button>
<u-button color="error">Error</u-button>
</u-card-content>
<u-card-content class="example-card-code" slot="after-content">
  <pre><code class="language-html">&lt;u-button&gt;Filled&lt;/u-button&gt;
&lt;u-button color=&quot;secondary&quot;&gt;Secondary&lt;/u-button&gt;
&lt;u-button color=&quot;tertiary&quot;&gt;Tertiary&lt;/u-button&gt;
&lt;u-button color=&quot;error&quot;&gt;Error&lt;/u-button&gt;
</code></pre>
</u-card-content>
          </u-card>
          <h5 class="u-headline-m article-title">Anchor buttons</h5>
          <u-card class="example-card" variant="outlined">
<u-card-content><u-button variant="elevated" href="https://github.com/universal-material/universal-material-web" target="_blank">Elevated</u-button>
<u-button href="https://github.com/universal-material/universal-material-web" target="_blank">Filled</u-button>
<u-button variant="tonal" href="https://github.com/universal-material/universal-material-web" target="_blank">Tonal</u-button>
<u-button variant="outlined" href="https://github.com/universal-material/universal-material-web" target="_blank">Outlined</u-button>
<u-button variant="text" href="https://github.com/universal-material/universal-material-web" target="_blank">Text</u-button>
<u-button variant="elevated" href="https://github.com/universal-material/universal-material-web" target="_blank" disabled>Disabled</u-button>
</u-card-content>
<u-card-content class="example-card-code" slot="after-content">
  <pre><code class="language-html">&lt;u-button variant=&quot;elevated&quot; href=&quot;https://github.com/universal-material/universal-material-web&quot; target=&quot;_blank&quot;&gt;Elevated&lt;/u-button&gt;
&lt;u-button href=&quot;https://github.com/universal-material/universal-material-web&quot; target=&quot;_blank&quot;&gt;Filled&lt;/u-button&gt;
&lt;u-button variant=&quot;tonal&quot; href=&quot;https://github.com/universal-material/universal-material-web&quot; target=&quot;_blank&quot;&gt;Tonal&lt;/u-button&gt;
&lt;u-button variant=&quot;outlined&quot; href=&quot;https://github.com/universal-material/universal-material-web&quot; target=&quot;_blank&quot;&gt;Outlined&lt;/u-button&gt;
&lt;u-button variant=&quot;text&quot; href=&quot;https://github.com/universal-material/universal-material-web&quot; target=&quot;_blank&quot;&gt;Text&lt;/u-button&gt;
&lt;u-button variant=&quot;elevated&quot; href=&quot;https://github.com/universal-material/universal-material-web&quot; target=&quot;_blank&quot; disabled&gt;Disabled&lt;/u-button&gt;
</code></pre>
</u-card-content>
          </u-card>
          <h5 class="u-headline-m article-title">Icons</h5>
          <u-card class="example-card" variant="outlined">
<u-card-content><u-button variant="elevated">
  Elevated
  <i slot="icon" class="mdi mdi-heart"></i>
</u-button>
<u-button>
  Filled
  <i slot="icon" class="mdi mdi-heart"></i>
</u-button>
<u-button variant="tonal">
  Tonal
  <i slot="icon" class="mdi mdi-heart"></i>
</u-button>
<u-button variant="outlined">
  Outlined
  <i slot="icon" class="mdi mdi-heart"></i>
</u-button>
<u-button variant="text">
  Text
  <i slot="icon" class="mdi mdi-heart"></i>
</u-button>
<u-button variant="elevated" disabled>
  Disabled
  <i slot="icon" class="mdi mdi-heart"></i>
</u-button>
</u-card-content>
<u-card-content class="example-card-code" slot="after-content">
  <pre><code class="language-html">&lt;u-button variant=&quot;elevated&quot;&gt;
  Elevated
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-heart&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button&gt;
  Filled
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-heart&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;tonal&quot;&gt;
  Tonal
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-heart&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;outlined&quot;&gt;
  Outlined
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-heart&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;text&quot;&gt;
  Text
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-heart&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;elevated&quot; disabled&gt;
  Disabled
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-heart&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
</code></pre>
</u-card-content>
          </u-card>
          <h5 class="u-headline-m article-title">Trailing icons</h5>
          <u-card class="example-card" variant="outlined">
<u-card-content><u-button variant="elevated" trailing-icon>
  Elevated
  <i slot="icon" class="mdi mdi-open-in-new"></i>
</u-button>
<u-button trailing-icon>
  Filled
  <i slot="icon" class="mdi mdi-open-in-new"></i>
</u-button>
<u-button variant="tonal" trailing-icon>
  Tonal
  <i slot="icon" class="mdi mdi-open-in-new"></i>
</u-button>
<u-button variant="outlined" trailing-icon>
  Outlined
  <i slot="icon" class="mdi mdi-open-in-new"></i>
</u-button>
<u-button variant="text" trailing-icon>
  Text
  <i slot="icon" class="mdi mdi-open-in-new"></i>
</u-button>
<u-button variant="elevated" trailing-icon disabled>
  Disabled
  <i slot="icon" class="mdi mdi-open-in-new"></i>
</u-button>

</u-card-content>
<u-card-content class="example-card-code" slot="after-content">
  <pre><code class="language-html">&lt;u-button variant=&quot;elevated&quot; trailing-icon&gt;
  Elevated
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-open-in-new&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button trailing-icon&gt;
  Filled
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-open-in-new&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;tonal&quot; trailing-icon&gt;
  Tonal
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-open-in-new&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;outlined&quot; trailing-icon&gt;
  Outlined
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-open-in-new&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;text&quot; trailing-icon&gt;
  Text
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-open-in-new&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;
&lt;u-button variant=&quot;elevated&quot; trailing-icon disabled&gt;
  Disabled
  &lt;i slot=&quot;icon&quot; class=&quot;mdi mdi-open-in-new&quot;&gt;&lt;/i&gt;
&lt;/u-button&gt;

</code></pre>
</u-card-content>
          </u-card>
          <h5 class="u-headline-m article-title">API</h5>
          <u-card class="api-card" variant="outlined">
            <u-table slot="before-content">
              <u-thead>
                <u-tr>
                  <u-th>Property</u-th>
                  <u-th>Attribute</u-th>
                  <u-th>Type</u-th>
                  <u-th>Default</u-th>
                  <u-th>Description</u-th>
                </u-tr>
              </u-thead>
              <u-tbody>
                <u-tr>
                  <u-td><code>variant</code>
                  </u-td>
                  <u-td><code>variant</code>
                  </u-td>
                  <u-td><code>import(&quot;D:/Projects/universal-material-web/src/button/button&quot;).UmButtonVariant</code></u-td>
                  <u-td><code>'filled'</code>
                  </u-td>
                  <u-td class="api-description-cell">The Button variant to render</u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>color</code>
                  </u-td>
                  <u-td><code>color</code>
                  </u-td>
                  <u-td><code>import(&quot;D:/Projects/universal-material-web/src/button/button&quot;).UmButtonColor</code></u-td>
                  <u-td><code>undefined</code>
                  </u-td>
                  <u-td class="api-description-cell">The Button color

<em>Note:</em> Filled buttons only</u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>trailingIcon</code>
                  </u-td>
                  <u-td><code>trailing-icon</code>
                  </u-td>
                  <u-td><code>boolean</code></u-td>
                  <u-td><code>false</code>
                  </u-td>
                  <u-td class="api-description-cell"></u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>hasIcon</code>
                  </u-td>
                  <u-td><code>has-icon</code>
                  </u-td>
                  <u-td><code>boolean</code></u-td>
                  <u-td><code>false</code>
                  </u-td>
                  <u-td class="api-description-cell">Whether the button has icon or not

<em>Note:</em> Readonly</u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>disabled</code>
                  </u-td>
                  <u-td><code>disabled</code>
                  </u-td>
                  <u-td><code>boolean</code></u-td>
                  <u-td><code>false</code>
                  </u-td>
                  <u-td class="api-description-cell">Whether the button is disabled or not.</u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>href</code>
                  </u-td>
                  <u-td><code>href</code>
                  </u-td>
                  <u-td><code>string</code></u-td>
                  <u-td><code>''</code>
                  </u-td>
                  <u-td class="api-description-cell">The URL that the link button points to.</u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>target</code>
                  </u-td>
                  <u-td><code>target</code>
                  </u-td>
                  <u-td><code>string</code></u-td>
                  <u-td><code>''</code>
                  </u-td>
                  <u-td class="api-description-cell">Where to display the linked <code>href</code> URL for a link button. Common options
include <code>_blank</code> to open in a new tab.</u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>type</code>
                  </u-td>
                  <u-td><code>type</code>
                  </u-td>
                  <u-td><code>string</code></u-td>
                  <u-td><code>'submit'</code>
                  </u-td>
                  <u-td class="api-description-cell"></u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>value</code>
                  </u-td>
                  <u-td><code>value</code>
                  </u-td>
                  <u-td><code>string</code></u-td>
                  <u-td><code>''</code>
                  </u-td>
                  <u-td class="api-description-cell"></u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>name</code>
                  </u-td>
                  <u-td><code>name</code>
                  </u-td>
                  <u-td><code>string</code></u-td>
                  <u-td><code>undefined</code>
                  </u-td>
                  <u-td class="api-description-cell"></u-td>
                </u-tr>
                <u-tr>
                  <u-td><code>form</code>
                  </u-td>
                  <u-td><code>form</code>
                  </u-td>
                  <u-td><code>HTMLFormElement</code></u-td>
                  <u-td>
                  </u-td>
                  <u-td class="api-description-cell">The <code>&lt;form&gt;</code> element to associate the button with (its form owner). The value of this attribute must be the id of a <code>&lt;form&gt;</code> in the same document. (If this attribute is not set, the button is associated with its ancestor <code>&lt;form&gt;</code> element, if any.)

<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#form" target="_blank">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#form</a></u-td>
                </u-tr>
              </u-tbody>
            </u-table>
          </u-card>
        </u-container>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="js/docs.js" type="module"></script>
  </head>
</html>