<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/web/">
    <title>Universal Material</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/atelier-sulphurpool-light.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/docs.css">
    <script type="module" src="js/index.js"></script>
    <body class="u-android">
      <div class="u-drawer u-drawer-lg-dismissible">
        <aside class="u-drawer-content u-navigation-drawer">
          <div class="u-drawer-scrollable-container">
            <h6 class="u-navigation-drawer-headline u-headline-s">Material Design</h6>
            <nav class="u-list u-list-selectable"><a class="u-list-item" href="">
                <div class="u-list-item-content">Introduction</div></a>
              <!--a.u-list-item(href="layout/grid.html")
              .u-list-item-content
                span Grid
              
              -->
              <!--a.u-list-item(href="content/typography.html")
              .u-list-item-content
                span Typography
              
              -->
              <!--.u-list-item
              .u-list-item-content
                span Colors
              .u-list-item-icon.mdi.mdi-chevron-down
              
              -->
              <!--.nested-menu-items
              a.u-list-item(href="utilities/text-colors.html")
                .u-list-item-content
                  span Text
              a.u-list-item(href="utilities/background-colors.html")
                .u-list-item-content
                  span Background
              a.u-list-item(href="utilities/text-and-background-colors.html")
                .u-list-item-content
                  span Text and background
              
              -->
              <div class="u-list-item">
                <div class="u-list-item-content"><span>Buttons</span></div>
                <div class="u-list-item-icon mdi mdi-chevron-down"></div>
              </div>
              <div class="nested-menu-items"><a class="u-list-item" href="components/common-buttons.html">
                  <div class="u-list-item-content"><span>Common buttons</span></div></a><a class="u-list-item" href="components/fab.html">
                  <div class="u-list-item-content"><span>Floating Action Button (FAB)</span></div></a><a class="u-list-item" href="components/icon-buttons.html">
                  <div class="u-list-item-content"><span>Icon buttons</span></div></a><a class="u-list-item" href="components/button-set.html">
                  <div class="u-list-item-content"><span>Button set</span></div></a></div><a class="u-list-item" href="components/cards.html">
                <div class="u-list-item-content"><span>Cards</span></div></a>
              <!--a.u-list-item(href="components/checkbox.html")
              .u-list-item-content
                span Checkbox
              
              -->
              <!--a.u-list-item(href="components/chips.html")
              .u-list-item-content
                span Chips
              
              --><a class="u-list-item" href="components/data-tables.html">
                <div class="u-list-item-content"><span>Data tables</span></div></a>
              <!--a.u-list-item(href="components/dialogs.html")
              .u-list-item-content
                span Dialogs
              
              --><a class="u-list-item" href="components/dividers.html">
                <div class="u-list-item-content"><span>Dividers</span></div></a>
              <!--a.u-list-item(href="components/lists.html")
              .u-list-item-content
                span Lists
              
              -->
              <!--a.u-list-item(href="components/menus.html")
              .u-list-item-content
                span Menus
              
              -->
              <!--a.u-list-item(href="components/progress.html")
              .u-list-item-content
                span Progress
              
              -->
              <!--a.u-list-item(href="components/selection-controls.html")
              .u-list-item-content
                span Selection controls
              
              -->
              <!--a.u-list-item(href="components/sliders.html")
              .u-list-item-content
                span Sliders
              
              -->
              <!--a.u-list-item(href="components/snackbars.html")
              .u-list-item-content
                span Snackbars
              
              -->
              <!--a.u-list-item(href="components/tabs.html")
              .u-list-item-content
                span Tabs
              
              -->
              <!--a.u-list-item(href="components/text-fields.html")
              .u-list-item-content
                span Text fields
              
              -->
              <!--a.u-list-item(href="components/toolbars.html")
              .u-list-item-content
                span Toolbars
              
              -->
            </nav>
          </div>
        </aside>
        <div class="u-drawer-backdrop d-lg-none"></div>
        <div class="u-toolbar u-toolbar-fixed" id="app-bar">
          <div class="u-toolbar-row">
            <div class="u-toolbar-start">
              <div class="u-toolbar-actions">
                <button class="u-toolbar-action u-icon-btn" type="button" id="menu-toggle"><i class="u-btn-icon mdi mdi-menu"></i></button>
              </div>
            </div>
            <div class="u-toolbar-center">
              <div class="u-toolbar-title">Material</div>
            </div>
            <div class="u-toolbar-end">
              <div class="u-toolbar-actions"><span class="u-dropdown u-toolbar-action">
                  <button class="u-icon-btn u-dropdown-toggle"><i class="u-btn-icon mdi mdi-theme-light-dark"></i></button>
                  <div class="u-dropdown-menu down-start">
                    <div class="u-dropdown-content">
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Auto)">System</button>
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Light)">Light</button>
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Dark)">Dark</button>
                    </div>
                  </div></span><a class="u-toolbar-action u-icon-btn" href="/angular" title="Universal Material Angular"><i class="u-btn-icon mdi mdi-angular"></i></a>
                <button class="u-toolbar-action u-icon-btn" id="rtl-toggle" type="button" title="Rtl"><i class="u-btn-icon mdi mdi-format-align-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <u-container class="chapter" id="main-content">
          <h4 class="u-display-m chapter-title">Sliders</h4>
          <h5 class="u-headline-m article-title">Slider</h5>
          <u-card class="example-card" variant="outlined">
<u-card-content><div class="u-slider" aria-label="Select value">
  <input type="range" min="100" max="300" step="0.25"/>
  <div class="u-slider-track-container">
    <div class="u-slider-track"></div>
  </div>
  <div class="u-slider-thumb-container">
    <div class="u-slider-thumb"></div>
  </div>
</div>
<div class="u-slider" aria-label="Select value">
  <input type="range" min="10" max="20" step="2"/>
  <div class="u-slider-track-container">
    <div class="u-slider-track-marker-container">
      <div class="u-slider-track-marker"></div>
    </div>
    <div class="u-slider-track"></div>
  </div>
  <div class="u-slider-thumb-container">
    <div class="u-slider-thumb"></div>
  </div>
</div>
<div class="u-slider" aria-label="Select value">
  <input type="range" min="100" max="300" step="0.25" disabled />
  <div class="u-slider-track-container">
    <div class="u-slider-track"></div>
  </div>
  <div class="u-slider-thumb-container">
    <div class="u-slider-thumb"></div>
  </div>
</div>
<div class="u-slider" aria-label="Select value">
  <input type="range" min="10" max="20" step="2" disabled />
  <div class="u-slider-track-container">
    <div class="u-slider-track-marker-container">
      <div class="u-slider-track-marker"></div>
    </div>
    <div class="u-slider-track"></div>
  </div>
  <div class="u-slider-thumb-container">
    <div class="u-slider-thumb"></div>
  </div>
</div>
</u-card-content>
<u-card-content class="example-card-code" slot="after-content">
  <pre><code class="language-html">&lt;div class=&quot;u-slider&quot; aria-label=&quot;Select value&quot;&gt;
  &lt;input type=&quot;range&quot; min=&quot;100&quot; max=&quot;300&quot; step=&quot;0.25&quot;/&gt;
  &lt;div class=&quot;u-slider-track-container&quot;&gt;
    &lt;div class=&quot;u-slider-track&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-slider-thumb-container&quot;&gt;
    &lt;div class=&quot;u-slider-thumb&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;u-slider&quot; aria-label=&quot;Select value&quot;&gt;
  &lt;input type=&quot;range&quot; min=&quot;10&quot; max=&quot;20&quot; step=&quot;2&quot;/&gt;
  &lt;div class=&quot;u-slider-track-container&quot;&gt;
    &lt;div class=&quot;u-slider-track-marker-container&quot;&gt;
      &lt;div class=&quot;u-slider-track-marker&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;u-slider-track&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-slider-thumb-container&quot;&gt;
    &lt;div class=&quot;u-slider-thumb&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;u-slider&quot; aria-label=&quot;Select value&quot;&gt;
  &lt;input type=&quot;range&quot; min=&quot;100&quot; max=&quot;300&quot; step=&quot;0.25&quot; disabled /&gt;
  &lt;div class=&quot;u-slider-track-container&quot;&gt;
    &lt;div class=&quot;u-slider-track&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-slider-thumb-container&quot;&gt;
    &lt;div class=&quot;u-slider-thumb&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;u-slider&quot; aria-label=&quot;Select value&quot;&gt;
  &lt;input type=&quot;range&quot; min=&quot;10&quot; max=&quot;20&quot; step=&quot;2&quot; disabled /&gt;
  &lt;div class=&quot;u-slider-track-container&quot;&gt;
    &lt;div class=&quot;u-slider-track-marker-container&quot;&gt;
      &lt;div class=&quot;u-slider-track-marker&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;u-slider-track&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;u-slider-thumb-container&quot;&gt;
    &lt;div class=&quot;u-slider-thumb&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</u-card-content>
          </u-card>
        </u-container>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="js/universal-material.js"></script>
    <script src="js/docs.js"></script>
  </head>
</html>