<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universal Material</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-sulphurpool-light.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/universal-material.css">
    <link rel="stylesheet" href="/css/docs.css">
    <body class="u-material">
      <div class="u-drawer u-drawer-lg-dismissible">
        <aside class="u-drawer-content u-navigation-drawer">
          <div class="u-toolbar">
            <div class="u-toolbar-row">
              <div class="u-toolbar-title">Material Design</div>
            </div>
          </div>
          <nav class="u-list u-list-selectable"><a class="u-list-item" href="/">
              <div class="u-list-item-primary-content">Introduction</div></a><a class="u-list-item" href="/layout/grid.html">
              <div class="u-list-item-primary-content"><span>Grid</span></div></a><a class="u-list-item" href="/content/typography.html">
              <div class="u-list-item-primary-content"><span>Typography</span></div></a><a class="u-list-item" href="/components/buttons.html">
              <div class="u-list-item-primary-content"><span>Buttons</span></div></a><a class="u-list-item" href="/components/floating-action-button.html">
              <div class="u-list-item-primary-content"><span>Floating action button</span></div></a><a class="u-list-item" href="/components/cards.html">
              <div class="u-list-item-primary-content"><span>Cards</span></div></a><a class="u-list-item" href="/components/chips.html">
              <div class="u-list-item-primary-content"><span>Chips</span></div></a><a class="u-list-item" href="/components/data-tables.html">
              <div class="u-list-item-primary-content"><span>Data tables</span></div></a><a class="u-list-item" href="/components/dialogs.html">
              <div class="u-list-item-primary-content"><span>Dialogs</span></div></a><a class="u-list-item" href="/components/lists.html">
              <div class="u-list-item-primary-content"><span>Lists</span></div></a><a class="u-list-item" href="/components/menus.html">
              <div class="u-list-item-primary-content"><span>Menus</span></div></a><a class="u-list-item" href="/components/progress.html">
              <div class="u-list-item-primary-content"><span>Progress</span></div></a><a class="u-list-item" href="/components/selection-controls.html">
              <div class="u-list-item-primary-content"><span>Selection controls</span></div></a><a class="u-list-item" href="/components/sliders.html">
              <div class="u-list-item-primary-content"><span>Sliders</span></div></a><a class="u-list-item" href="/components/snackbars.html">
              <div class="u-list-item-primary-content"><span>Snackbars</span></div></a><a class="u-list-item" href="/components/tabs.html">
              <div class="u-list-item-primary-content"><span>Tabs</span></div></a><a class="u-list-item" href="/components/text-fields.html">
              <div class="u-list-item-primary-content"><span>Text fields</span></div></a><a class="u-list-item" href="/components/toolbars.html">
              <div class="u-list-item-primary-content"><span>Toolbars</span></div></a></nav>
        </aside>
        <div class="u-drawer-backdrop d-lg-none"></div>
        <div class="u-toolbar u-toolbar-primary u-toolbar-fixed" id="app-bar">
          <div class="u-toolbar-row">
            <div class="u-toolbar-start">
              <div class="u-toolbar-actions">
                <button class="u-btn-borderless u-btn-default" type="button" id="menu-toggle"><i class="u-btn-icon mdi mdi-menu"></i></button>
              </div>
            </div>
            <div class="u-toolbar-center">
              <div class="u-toolbar-title">Material</div>
            </div>
            <div class="u-toolbar-end">
              <div class="u-toolbar-actions"><a class="u-toolbar-action u-btn-borderless u-btn-default" href="/angular" title="Universal Material Angular"><i class="u-btn-icon mdi mdi-angular"></i></a>
                <button class="u-toolbar-action u-btn-borderless u-btn-default" id="rtl-toggle" type="button" title="Rtl"><i class="u-btn-icon mdi mdi-format-align-right"></i></button>
                <button class="u-toolbar-action u-btn-borderless u-btn-default" id="dense-toggle" type="button" title="Dense layout"><i class="u-btn-icon mdi mdi-format-size"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container u-margin-lg-40 chapter" id="main-content">
          <h4 class="u-headline4 chapter-title">Data tables</h4>
          <h5 class="u-headline5 article-title">Simple tables</h5>
          <div class="example-box">
            <div class="example-box-header"><div class="u-card">
  <div class="u-data-table u-data-table-hover">
    <table>
      <tbody>
      <tr>
        <th>Nome</th>
        <td>John Doe</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>john.doe@example.com</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="u-card">
  <div class="u-data-table u-data-table-hover">
    <table>
      <thead>
      <tr>
        <th>Dessert (100g serving)&#x200E;</th>
        <th class="u-text-end">Calories</th>
        <th class="u-text-end">Fat (g)&#x200E;</th>
        <th class="u-text-end">Carbs(g)&#x200E;</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Frozen yogurt</td>
        <td class="u-text-end">159</td>
        <td class="u-text-end">6.0</td>
        <td class="u-text-end">24</td>
      </tr>
      <tr>
        <td>Ice cream sandwich</td>
        <td class="u-text-end">237</td>
        <td class="u-text-end">9.0</td>
        <td class="u-text-end">37</td>
      </tr>
      <tr>
        <td>Eclair</td>
        <td class="u-text-end">262</td>
        <td class="u-text-end">16.0</td>
        <td class="u-text-end">24</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

            </div>
            <pre><code class="html"></code></pre>
          </div>
          <h5 class="u-headline5 article-title">Table header</h5>
          <div class="example-box">
            <div class="example-box-header"><div class="u-card">
  <div class="u-data-table u-data-table-hover">
    <div class="u-toolbar">
      <div class="u-toolbar-row">
        <div class="u-toolbar-title">Nutrients</div>
        <div class="u-toolbar-end">
          <div class="u-toolbar-actions">
            <button class="u-toolbar-action u-btn-borderless u-btn-default" disabled="disabled"><i class="u-btn-icon mdi mdi-phone"></i></button>
            <button class="u-toolbar-action u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-dots-vertical"></i></button>
          </div>
        </div>
      </div>
    </div>
    <table>
      <thead>
      <tr>
      <tr>
        <th>Dessert (100g serving)&#x200E;</th>
        <th class="u-text-end">Calories</th>
        <th class="u-text-end">Fat (g)&#x200E;</th>
        <th class="u-text-end">Carbs(g)&#x200E;</th>
      </tr>
      </tr>
      <tbody>
      <tr>
        <td>Frozen yogurt</td>
        <td class="u-text-end">159</td>
        <td class="u-text-end">6.0</td>
        <td class="u-text-end">24</td>
      </tr>
      <tr>
        <td>Ice cream sandwich</td>
        <td class="u-text-end">237</td>
        <td class="u-text-end">9.0</td>
        <td class="u-text-end">37</td>
      </tr>
      <tr>
        <td>Eclair</td>
        <td class="u-text-end">262</td>
        <td class="u-text-end">16.0</td>
        <td class="u-text-end">24</td>
      </tr>
      </tbody>
      </thead>
    </table>
  </div>
</div>

            </div>
            <pre><code class="html"></code></pre>
          </div>
          <h5 class="u-headline5 article-title">Table footer</h5>
          <div class="example-box">
            <div class="example-box-header"><div class="u-card">
  <div class="u-data-table u-data-table-hover">
    <div class="u-data-table-header">
      <div class="u-toolbar">
        <div class="u-toolbar-row">
          <div class="u-toolbar-title">Nutrients</div>
          <div class="u-toolbar-end">
            <div class="u-toolbar-actions">
              <button class="u-toolbar-action u-btn-borderless u-btn-default" disabled="disabled"><i class="u-btn-icon mdi mdi-phone"></i></button>
              <button class="u-toolbar-action u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-dots-vertical"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-data-table-content">
      <table>
        <thead>
        <tr>
          <th class="text-nowrap">Dessert (100g serving)&#x200E;</th>
          <th>Type</th>
          <th class="u-text-end">Calories</th>
          <th class="u-text-end">Fat (g)&#x200E;</th>
          <th class="u-text-end">Carbs(g)&#x200E;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-nowrap">Frozen yogurt</td>
          <td class="text-nowrap u-dropdown">
            <button class="u-btn-flat u-btn-default u-dropdown-toggle">
              <div class="u-dropdown-toggle-label">Ice cream</div>
              <div class="u-dropdown-toggle-icon"></div>
            </button>
            <div class="u-dropdown-menu down-right fit-width">
              <div class="u-dropdown-content">
                <div class="u-dropdown-item">Ice cream</div>
                <div class="u-dropdown-item">Pastry</div>
                <div class="u-dropdown-item">Other</div>
              </div>
            </div>
          </td>
          <td class="u-text-end">159</td>
          <td class="u-text-end">6.0</td>
          <td class="u-text-end">24</td>
        </tr>
        <tr>
          <td class="text-nowrap">Ice cream sandwich</td>
          <td class="text-nowrap u-dropdown">
            <button class="u-btn-flat u-btn-default u-dropdown-toggle">
              <div class="u-dropdown-toggle-label">Ice cream</div>
              <div class="u-dropdown-toggle-icon"></div>
            </button>
            <div class="u-dropdown-menu up-right fit-width">
              <div class="u-dropdown-content">
                <div class="u-dropdown-item">Ice cream</div>
                <div class="u-dropdown-item">Pastry</div>
                <div class="u-dropdown-item">Other</div>
              </div>
            </div>
          </td>
          <td class="u-text-end">237</td>
          <td class="u-text-end">9.0</td>
          <td class="u-text-end">37</td>
        </tr>
        <tr>
          <td class="text-nowrap">Eclair</td>
          <td class="text-nowrap u-dropdown">
            <button class="u-btn-flat u-btn-default u-dropdown-toggle">
              <div class="u-dropdown-toggle-label">Pastry</div>
              <div class="u-dropdown-toggle-icon"></div>
            </button>
            <div class="u-dropdown-menu up-right fit-width">
              <div class="u-dropdown-content">
                <div class="u-dropdown-item">Ice cream</div>
                <div class="u-dropdown-item">Pastry</div>
                <div class="u-dropdown-item">Other</div>
              </div>
            </div>
          </td>
          <td class="u-text-end">262</td>
          <td class="u-text-end">16.0</td>
          <td class="u-text-end">24</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="u-data-table-footer">
      <button class="u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-chevron-left"></i></button>
      <button class="u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-chevron-right"></i></button>
    </div>
  </div>
</div>

            </div>
            <pre><code class="html"></code></pre>
          </div>
        </div>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/js/universal-material.js"></script>
    <script src="/js/docs.js"></script>
  </head>
</html>