<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universal Material</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-sulphurpool-light.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/universal-material.css">
    <link rel="stylesheet" href="/css/docs.css">
    <body class="sidebar-layout">
      <nav class="sidebar sidebar-left sidebar-lg-fixed">
        <div class="toolbar">
          <div class="toolbar-row">
            <div class="toolbar-title">Material Design</div>
          </div>
        </div>
        <div class="list list-hover"><a class="list-item" href="/">
            <div class="list-item-icon"><i class="mdi mdi-home"></i></div>
            <div class="list-item-primary-content">Introduction</div></a><a class="list-item" href="/layout/grid.html">
            <div class="list-item-icon"><i class="mdi mdi-view-grid"></i></div>
            <div class="list-item-primary-content"><span>Grid</span></div></a><a class="list-item" href="/content/typography.html">
            <div class="list-item-icon"><i class="mdi mdi-page-layout-header"></i></div>
            <div class="list-item-primary-content"><span>Typography</span></div></a><a class="list-item" href="/components/buttons.html">
            <div class="list-item-icon"><i class="mdi mdi-arrow-right"></i></div>
            <div class="list-item-primary-content"><span>Buttons</span></div></a><a class="list-item" href="/components/cards.html">
            <div class="list-item-icon"><i class="mdi mdi-page-layout-body"></i></div>
            <div class="list-item-primary-content"><span>Cards</span></div></a><a class="list-item" href="/components/chips.html">
            <div class="list-item-icon"><i class="mdi mdi-label"></i></div>
            <div class="list-item-primary-content"><span>Chips</span></div></a><a class="list-item" href="/components/data-tables.html">
            <div class="list-item-icon"><i class="mdi mdi-table"></i></div>
            <div class="list-item-primary-content"><span>Data tables</span></div></a><a class="list-item" href="/components/dialogs.html">
            <div class="list-item-icon"><i class="mdi mdi-window-maximize"></i></div>
            <div class="list-item-primary-content"><span>Dialogs</span></div></a><a class="list-item" href="/components/lists.html">
            <div class="list-item-icon"><i class="mdi mdi-format-list-bulleted"></i></div>
            <div class="list-item-primary-content"><span>Lists</span></div></a><a class="list-item" href="/components/menus.html">
            <div class="list-item-icon"><i class="mdi mdi-menu"></i></div>
            <div class="list-item-primary-content"><span>Menus</span></div></a><a class="list-item" href="/components/progress.html">
            <div class="list-item-icon"><i class="mdi mdi-loading"></i></div>
            <div class="list-item-primary-content"><span>Progress</span></div></a><a class="list-item" href="/components/selection-controls.html">
            <div class="list-item-icon"><i class="mdi mdi-toggle-switch"></i></div>
            <div class="list-item-primary-content"><span>Selection controls</span></div></a><a class="list-item" href="/components/snackbars.html">
            <div class="list-item-icon"><i class="mdi mdi-page-layout-footer"></i></div>
            <div class="list-item-primary-content"><span>Snackbars</span></div></a><a class="list-item" href="/components/tabs.html">
            <div class="list-item-icon"><i class="mdi mdi-tab"></i></div>
            <div class="list-item-primary-content"><span>Tabs</span></div></a><a class="list-item" href="/components/text-fields.html">
            <div class="list-item-icon"><i class="mdi mdi-textbox"></i></div>
            <div class="list-item-primary-content"><span>Text fields</span></div></a><a class="list-item" href="/components/toolbars.html">
            <div class="list-item-icon"><i class="mdi mdi-page-layout-header"></i></div>
            <div class="list-item-primary-content"><span>Toolbars</span></div></a></div>
      </nav>
      <div class="sidebar-backdrop"></div>
      <div class="layout-content toolbar-layout">
        <div class="toolbar toolbar-primary" id="app-bar">
          <div class="toolbar-row">
            <div class="toolbar-start">
              <div class="toolbar-navigation btn-borderless btn-default d-lg-none" id="menu-toggle"><i class="mdi mdi-menu"></i></div>
            </div>
            <div class="toolbar-title">Material</div>
            <div class="toolbar-end">
              <div class="toolbar-actions">
                <button class="toolbar-action btn-borderless btn-default" id="rtl-toggle" type="button" title="Rtl"><i class="mdi mdi-format-align-right"></i></button>
                <button class="toolbar-action btn-borderless btn-default" id="dense-toggle" type="button" title="Dense layout"><i class="mdi mdi-format-size"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="layout-content" id="main-content">
          <div class="container margin-lg-40 chapter">
            <h4 class="headline4 chapter-title">Menus</h4>
            <div class="menu-example">
              <h5 class="headline5 article-title">Down</h5>
              <div class="example-box">
                <div class="example-box-header">
                  <div class="toolbar">
                    <div class="toolbar-row">
                      <div class="toolbar-actions">
                        <div class="toolbar-action dropdown">
                          <button class="btn-borderless btn-default dropdown-toggle"><i class="mdi mdi-dots-vertical"></i></button>
                          <div class="dropdown-menu down">
                            <div class="dropdown-content"><a class="dropdown-item text-nowrap" href="#">Item A</a><a class="dropdown-item text-nowrap" href="#">Item B</a><a class="dropdown-item text-nowrap" href="#">Item C</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pre><code class="html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;btn-borderless btn-default dropdown-toggle&quot;&gt;
    &lt;i class=&quot;mdi mdi-dots-vertical&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;div class=&quot;dropdown-menu down&quot;&gt;
    &lt;div class=&quot;dropdown-content&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
      &lt;a href=&quot;#&quot; class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
      &lt;a href=&quot;#&quot; class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
              <h5 class="headline5 article-title">Up</h5>
              <div class="example-box">
                <div class="example-box-header d-flex align-items-end">
                  <div class="toolbar">
                    <div class="toolbar-row">
                      <div class="toolbar-actions">
                        <div class="toolbar-action dropdown">
                          <button class="btn-borderless btn-default dropdown-toggle"><i class="mdi mdi-dots-vertical"></i></button>
                          <div class="dropdown-menu up">
                            <div class="dropdown-content"><a class="dropdown-item text-nowrap" href="#">Item A</a><a class="dropdown-item text-nowrap" href="#">Item B</a><a class="dropdown-item text-nowrap" href="#">Item C</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pre><code class="html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;btn-borderless btn-default dropdown-toggle&quot;&gt;
    &lt;i class=&quot;mdi mdi-dots-vertical&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;div class=&quot;dropdown-menu up&quot;&gt;
    &lt;div class=&quot;dropdown-content&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
      &lt;a href=&quot;#&quot; class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
      &lt;a href=&quot;#&quot; class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
              <h5 class="headline5 article-title">Down right</h5>
              <div class="example-box">
                <div class="example-box-header">
                  <div class="toolbar">
                    <div class="toolbar-row">
                      <div class="toolbar-actions">
                        <div class="toolbar-action dropdown">
                          <button class="btn-borderless btn-default dropdown-toggle"><i class="mdi mdi-dots-vertical"></i></button>
                          <div class="dropdown-menu down-right">
                            <div class="dropdown-content"><a class="dropdown-item text-nowrap" href="#">Item A</a><a class="dropdown-item text-nowrap" href="#">Item B</a><a class="dropdown-item text-nowrap" href="#">Item C</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pre><code class="html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
    &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
  &lt;/button&gt;
  &lt;div class=&quot;dropdown-menu down-right&quot;&gt;
    &lt;div class=&quot;dropdown-content&quot;&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
              <h5 class="headline5 article-title">Down left</h5>
              <div class="example-box">
                <div class="example-box-header">
                  <div class="toolbar">
                    <div class="toolbar-row">
                      <div class="toolbar-actions">
                        <div class="toolbar-actions dropdown">
                          <button class="btn-borderless btn-default dropdown-toggle"><i class="mdi mdi-dots-vertical"></i></button>
                          <div class="dropdown-menu down-left">
                            <div class="dropdown-content"><a class="dropdown-item text-nowrap" href="#">Item A</a><a class="dropdown-item text-nowrap" href="#">Item B</a><a class="dropdown-item text-nowrap" href="#">Item C</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pre><code class="html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
    &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
  &lt;/button&gt;
  &lt;div class=&quot;dropdown-menu down-left&quot;&gt;
    &lt;div class=&quot;dropdown-content&quot;&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
              <h5 class="headline5 article-title">Up right</h5>
              <div class="example-box">
                <div class="example-box-header d-flex align-items-end">
                  <div class="toolbar">
                    <div class="toolbar-row">
                      <div class="toolbar-actions">
                        <div class="toolbar-action dropdown">
                          <button class="btn-borderless btn-default dropdown-toggle"><i class="mdi mdi-dots-vertical"></i></button>
                          <div class="dropdown-menu up-right">
                            <div class="dropdown-content"><a class="dropdown-item text-nowrap" href="#">Item A</a><a class="dropdown-item text-nowrap" href="#">Item B</a><a class="dropdown-item text-nowrap" href="#">Item C</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pre><code class="html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
    &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
  &lt;/button&gt;
  &lt;div class=&quot;dropdown-menu up-right&quot;&gt;
    &lt;div class=&quot;dropdown-content&quot;&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
              <h5 class="headline5 article-title">Up left</h5>
              <div class="example-box">
                <div class="example-box-header d-flex align-items-end">
                  <div class="toolbar">
                    <div class="toolbar-row">
                      <div class="toolbar-title"></div>
                      <div class="dropdown">
                        <button class="btn-borderless btn-default dropdown-toggle"><i class="mdi mdi-dots-vertical"></i></button>
                        <div class="dropdown-menu up-left">
                          <div class="dropdown-content"><a class="dropdown-item text-nowrap" href="#">Item A</a><a class="dropdown-item text-nowrap" href="#">Item B</a><a class="dropdown-item text-nowrap" href="#">Item C</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pre><code class="html">&lt;div class=&quot;dropdown&quot;&gt;
  &lt;button class=&quot;btn-borderless btn-default&quot;&gt;
    &lt;i class=&quot;mdi mdi-dots-vertial&quot;&nbsp;/&gt;
  &lt;/button&gt;
  &lt;div class=&quot;dropdown-menu up-left&quot;&gt;
    &lt;div class=&quot;dropdown-content&quot;&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item A&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item B&lt;/a&gt;
      &lt;a class=&quot;dropdown-item text-nowrap&quot;&gt;Item C&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/js/universal-material.js"></script>
    <script src="/js/docs.js"></script>
  </head>
</html>