<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universal Material</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-sulphurpool-light.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/universal-material.css">
    <link rel="stylesheet" href="/css/docs.css">
    <body class="u-material">
      <div class="u-drawer u-drawer-lg-dismissible">
        <aside class="u-drawer-content u-navigation-drawer">
          <div class="u-toolbar">
            <div class="u-toolbar-row">
              <div class="u-toolbar-title">Material Design</div>
            </div>
          </div>
          <nav class="u-list u-list-selectable"><a class="u-list-item" href="/">
              <div class="u-list-item-primary-content">Introduction</div></a><a class="u-list-item" href="/layout/grid.html">
              <div class="u-list-item-primary-content"><span>Grid</span></div></a><a class="u-list-item" href="/content/typography.html">
              <div class="u-list-item-primary-content"><span>Typography</span></div></a><a class="u-list-item" href="/components/buttons.html">
              <div class="u-list-item-primary-content"><span>Buttons</span></div></a><a class="u-list-item" href="/components/floating-action-button.html">
              <div class="u-list-item-primary-content"><span>Floating action button</span></div></a><a class="u-list-item" href="/components/cards.html">
              <div class="u-list-item-primary-content"><span>Cards</span></div></a><a class="u-list-item" href="/components/chips.html">
              <div class="u-list-item-primary-content"><span>Chips</span></div></a><a class="u-list-item" href="/components/data-tables.html">
              <div class="u-list-item-primary-content"><span>Data tables</span></div></a><a class="u-list-item" href="/components/dialogs.html">
              <div class="u-list-item-primary-content"><span>Dialogs</span></div></a><a class="u-list-item" href="/components/lists.html">
              <div class="u-list-item-primary-content"><span>Lists</span></div></a><a class="u-list-item" href="/components/menus.html">
              <div class="u-list-item-primary-content"><span>Menus</span></div></a><a class="u-list-item" href="/components/progress.html">
              <div class="u-list-item-primary-content"><span>Progress</span></div></a><a class="u-list-item" href="/components/selection-controls.html">
              <div class="u-list-item-primary-content"><span>Selection controls</span></div></a><a class="u-list-item" href="/components/sliders.html">
              <div class="u-list-item-primary-content"><span>Sliders</span></div></a><a class="u-list-item" href="/components/snackbars.html">
              <div class="u-list-item-primary-content"><span>Snackbars</span></div></a><a class="u-list-item" href="/components/tabs.html">
              <div class="u-list-item-primary-content"><span>Tabs</span></div></a><a class="u-list-item" href="/components/text-fields.html">
              <div class="u-list-item-primary-content"><span>Text fields</span></div></a><a class="u-list-item" href="/components/toolbars.html">
              <div class="u-list-item-primary-content"><span>Toolbars</span></div></a></nav>
        </aside>
        <div class="u-drawer-backdrop d-lg-none"></div>
        <div class="u-toolbar u-toolbar-primary u-bg-dark u-toolbar-fixed" id="app-bar">
          <div class="u-toolbar-row">
            <div class="u-toolbar-start">
              <div class="u-toolbar-actions">
                <button class="u-toolbar-action u-btn-borderless u-btn-default" type="button" id="menu-toggle"><i class="u-btn-icon mdi mdi-menu"></i></button>
              </div>
            </div>
            <div class="u-toolbar-center">
              <div class="u-toolbar-title">Material</div>
            </div>
            <div class="u-toolbar-end">
              <div class="u-toolbar-actions"><a class="u-toolbar-action u-btn-borderless u-btn-default" href="/angular" title="Universal Material Angular"><i class="u-btn-icon mdi mdi-angular"></i></a>
                <button class="u-toolbar-action u-btn-borderless u-btn-default" id="rtl-toggle" type="button" title="Rtl"><i class="u-btn-icon mdi mdi-format-align-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container u-margin-lg-40 chapter" id="main-content">
          <h4 class="u-headline4 chapter-title">Menus</h4>
          <div class="menu-example">
            <h5 class="u-headline5 article-title">Down</h5>
            <div class="example-box">
              <div class="example-box-header"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu down">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Down left</h5>
            <div class="example-box">
              <div class="example-box-header"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu down-left">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Down right</h5>
            <div class="example-box">
              <div class="example-box-header"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu down-right">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Down start</h5>
            <div class="example-box">
              <div class="example-box-header"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu down-start">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Down end</h5>
            <div class="example-box">
              <div class="example-box-header"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu down-end">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Up</h5>
            <div class="example-box">
              <div class="example-box-header d-flex align-items-end"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu up">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Up left</h5>
            <div class="example-box">
              <div class="example-box-header d-flex align-items-end"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu up-left">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Up right</h5>
            <div class="example-box">
              <div class="example-box-header d-flex align-items-end"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu up-right">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Up start</h5>
            <div class="example-box">
              <div class="example-box-header d-flex align-items-end"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu up-start">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
            <h5 class="u-headline5 article-title">Up end</h5>
            <div class="example-box">
              <div class="example-box-header d-flex align-items-end"><span class="u-dropdown">
  <button class="u-btn-flat u-btn-default u-dropdown-toggle">Menu</button>
  <div class="u-dropdown-menu up-end">
    <div class="u-dropdown-content">
      <a href="#" class="u-dropdown-item text-nowrap">Item A</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item B</a>
      <a href="#" class="u-dropdown-item text-nowrap">Item C</a>
    </div>
  </div>
</span>

              </div>
              <pre><code class="html"></code></pre>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/js/universal-material.js"></script>
    <script src="/js/docs.js"></script>
  </head>
</html>