<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universal Material</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-sulphurpool-light.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/universal-material.css">
    <link rel="stylesheet" href="/css/docs.css">
    <body class="u-drawer u-drawer-lg-dismissible">
      <aside class="u-drawer-content u-navigation-drawer">
        <div class="u-toolbar">
          <div class="u-toolbar-row">
            <div class="u-toolbar-title">Material Design</div>
          </div>
        </div>
        <nav class="u-list u-list-selectable"><a class="u-list-item" href="/">
            <div class="u-list-item-icon"><i class="mdi mdi-home"></i></div>
            <div class="u-list-item-primary-content">Introduction</div></a><a class="u-list-item" href="/layout/grid.html">
            <div class="u-list-item-icon"><i class="mdi mdi-view-grid"></i></div>
            <div class="u-list-item-primary-content"><span>Grid</span></div></a><a class="u-list-item" href="/content/typography.html">
            <div class="u-list-item-icon"><i class="mdi mdi-page-layout-header"></i></div>
            <div class="u-list-item-primary-content"><span>Typography</span></div></a><a class="u-list-item" href="/components/buttons.html">
            <div class="u-list-item-icon"><i class="mdi mdi-arrow-right"></i></div>
            <div class="u-list-item-primary-content"><span>Buttons</span></div></a><a class="u-list-item" href="/components/floating-action-button.html">
            <div class="u-list-item-icon"><i class="mdi mdi-plus-circle-outline"></i></div>
            <div class="u-list-item-primary-content"><span>Floating action button</span></div></a><a class="u-list-item" href="/components/cards.html">
            <div class="u-list-item-icon"><i class="mdi mdi-page-layout-body"></i></div>
            <div class="u-list-item-primary-content"><span>Cards</span></div></a><a class="u-list-item" href="/components/chips.html">
            <div class="u-list-item-icon"><i class="mdi mdi-label"></i></div>
            <div class="u-list-item-primary-content"><span>Chips</span></div></a><a class="u-list-item" href="/components/data-tables.html">
            <div class="u-list-item-icon"><i class="mdi mdi-table"></i></div>
            <div class="u-list-item-primary-content"><span>Data tables</span></div></a><a class="u-list-item" href="/components/dialogs.html">
            <div class="u-list-item-icon"><i class="mdi mdi-window-maximize"></i></div>
            <div class="u-list-item-primary-content"><span>Dialogs</span></div></a><a class="u-list-item" href="/components/lists.html">
            <div class="u-list-item-icon"><i class="mdi mdi-format-list-bulleted"></i></div>
            <div class="u-list-item-primary-content"><span>Lists</span></div></a><a class="u-list-item" href="/components/menus.html">
            <div class="u-list-item-icon"><i class="mdi mdi-menu"></i></div>
            <div class="u-list-item-primary-content"><span>Menus</span></div></a><a class="u-list-item" href="/components/progress.html">
            <div class="u-list-item-icon"><i class="mdi mdi-loading"></i></div>
            <div class="u-list-item-primary-content"><span>Progress</span></div></a><a class="u-list-item" href="/components/selection-controls.html">
            <div class="u-list-item-icon"><i class="mdi mdi-toggle-switch"></i></div>
            <div class="u-list-item-primary-content"><span>Selection controls</span></div></a><a class="u-list-item" href="/components/snackbars.html">
            <div class="u-list-item-icon"><i class="mdi mdi-page-layout-footer"></i></div>
            <div class="u-list-item-primary-content"><span>Snackbars</span></div></a><a class="u-list-item" href="/components/tabs.html">
            <div class="u-list-item-icon"><i class="mdi mdi-tab"></i></div>
            <div class="u-list-item-primary-content"><span>Tabs</span></div></a><a class="u-list-item" href="/components/text-fields.html">
            <div class="u-list-item-icon"><i class="mdi mdi-textbox"></i></div>
            <div class="u-list-item-primary-content"><span>Text fields</span></div></a><a class="u-list-item" href="/components/toolbars.html">
            <div class="u-list-item-icon"><i class="mdi mdi-page-layout-header"></i></div>
            <div class="u-list-item-primary-content"><span>Toolbars</span></div></a></nav>
      </aside>
      <div class="u-drawer-backdrop d-lg-none"></div>
      <div class="u-toolbar u-toolbar-primary u-toolbar-fixed" id="app-bar">
        <div class="u-toolbar-row">
          <div class="u-toolbar-start">
            <div class="u-toolbar-navigation u-btn-borderless u-btn-default" id="menu-toggle"><i class="u-btn-icon mdi mdi-menu"></i></div>
          </div>
          <div class="u-toolbar-title">Material</div>
          <div class="u-toolbar-end">
            <div class="u-toolbar-actions"><a class="u-toolbar-action u-btn-borderless u-btn-default" href="/angular" title="Universal Material Angular"><i class="u-btn-icon mdi mdi-angular"></i></a>
              <button class="u-toolbar-action u-btn-borderless u-btn-default" id="rtl-toggle" type="button" title="Rtl"><i class="u-btn-icon mdi mdi-format-align-right"></i></button>
              <button class="u-toolbar-action u-btn-borderless u-btn-default" id="dense-toggle" type="button" title="Dense layout"><i class="u-btn-icon mdi mdi-format-size"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="u-container u-margin-lg-40 chapter" id="main-content">
        <h4 class="u-headline4 chapter-title">Tabs</h4>
        <h5 class="u-headline5 article-title">Button colors</h5>
        <div class="example-box">
          <div class="example-box-header">
            <div class="u-toolbar example-toolbar">
              <div class="u-toolbar-row">
                <div class="u-toolbar-navigation u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-menu"></i></div>
                <div class="u-toolbar-title">Page title</div>
                <div class="u-toolbar-actions">
                  <div class="u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-magnify"></i></div>
                  <div class="u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-phone"></i></div>
                  <div class="u-btn-borderless u-btn-default"><i class="u-btn-icon mdi mdi-dots-vertical"></i></div>
                </div>
              </div>
              <div class="u-tab-bar u-toolbar-icon-padding">
                <div class="u-tab active">
                  <div class="u-tab-content">
                    <div class="u-tab-text">Item one</div>
                  </div>
                </div>
                <div class="u-tab">
                  <div class="u-tab-content">
                    <div class="u-tab-text">Item two</div>
                  </div>
                </div>
                <div class="u-tab">
                  <div class="u-tab-content">
                    <div class="u-tab-text">Item three</div>
                  </div>
                </div>
                <div class="u-tab">
                  <div class="u-tab-content">
                    <div class="u-tab-text">Item four Item four Item four</div>
                  </div>
                </div>
                <div class="u-tab-indicator"></div>
              </div>
            </div>
          </div>
          <pre><code class="html">&lt;button class=&quot;u-btn-solid u-btn-default&quot;&gt;Default&lt;/button&gt;
&lt;button class=&quot;u-btn-solid u-btn-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button class=&quot;u-btn-solid u-btn-secondary&quot;&gt;Secondary&lt;/button&gt;
&lt;button class=&quot;u-btn-solid u-btn-danger&quot;&gt;Danger&lt;/button&gt;
&lt;button class=&quot;u-btn-solid u-btn-primary&quot; disabled&gt;Disabled&lt;/button&gt;</code></pre>
        </div>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/js/universal-material.js"></script>
    <script src="/js/docs.js"></script>
  </head>
</html>