<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universal Material</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/atelier-sulphurpool-light.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/docs.css">
    <body class="u-android">
      <div class="u-drawer u-drawer-lg-dismissible">
        <aside class="u-drawer-content u-navigation-drawer">
          <div class="u-drawer-scrollable-container">
            <h6 class="u-navigation-drawer-headline u-headline-s">Material Design</h6>
            <nav class="u-list u-list-selectable"><a class="u-list-item" href="/">
                <div class="u-list-item-content">Introduction</div></a><a class="u-list-item" href="/layout/grid.html">
                <div class="u-list-item-content"><span>Grid</span></div></a><a class="u-list-item" href="/content/typography.html">
                <div class="u-list-item-content"><span>Typography</span></div></a>
              <div class="u-list-item">
                <div class="u-list-item-content"><span>Colors</span></div>
                <div class="u-list-item-icon mdi mdi-chevron-down"></div>
              </div>
              <div class="nested-menu-items"><a class="u-list-item" href="/utilities/text-colors.html">
                  <div class="u-list-item-content"><span>Text</span></div></a><a class="u-list-item" href="/utilities/background-colors.html">
                  <div class="u-list-item-content"><span>Background</span></div></a><a class="u-list-item" href="/utilities/text-and-background-colors.html">
                  <div class="u-list-item-content"><span>Text and background</span></div></a></div>
              <div class="u-list-item">
                <div class="u-list-item-content"><span>Buttons</span></div>
                <div class="u-list-item-icon mdi mdi-chevron-down"></div>
              </div>
              <div class="nested-menu-items"><a class="u-list-item" href="/components/common-buttons.html">
                  <div class="u-list-item-content"><span>Common buttons</span></div></a><a class="u-list-item" href="/components/fab.html">
                  <div class="u-list-item-content"><span>FAB</span></div></a><a class="u-list-item" href="/components/icon-buttons.html">
                  <div class="u-list-item-content"><span>Icon buttons</span></div></a></div><a class="u-list-item" href="/components/cards.html">
                <div class="u-list-item-content"><span>Cards</span></div></a><a class="u-list-item" href="/components/chips.html">
                <div class="u-list-item-content"><span>Chips</span></div></a><a class="u-list-item" href="/components/data-tables.html">
                <div class="u-list-item-content"><span>Data tables</span></div></a><a class="u-list-item" href="/components/dialogs.html">
                <div class="u-list-item-content"><span>Dialogs</span></div></a><a class="u-list-item" href="/components/lists.html">
                <div class="u-list-item-content"><span>Lists</span></div></a><a class="u-list-item" href="/components/menus.html">
                <div class="u-list-item-content"><span>Menus</span></div></a><a class="u-list-item" href="/components/progress.html">
                <div class="u-list-item-content"><span>Progress</span></div></a><a class="u-list-item" href="/components/selection-controls.html">
                <div class="u-list-item-content"><span>Selection controls</span></div></a><a class="u-list-item" href="/components/sliders.html">
                <div class="u-list-item-content"><span>Sliders</span></div></a><a class="u-list-item" href="/components/snackbars.html">
                <div class="u-list-item-content"><span>Snackbars</span></div></a><a class="u-list-item" href="/components/tabs.html">
                <div class="u-list-item-content"><span>Tabs</span></div></a><a class="u-list-item" href="/components/text-fields.html">
                <div class="u-list-item-content"><span>Text fields</span></div></a><a class="u-list-item" href="/components/toolbars.html">
                <div class="u-list-item-content"><span>Toolbars</span></div></a>
            </nav>
          </div>
        </aside>
        <div class="u-drawer-backdrop d-lg-none"></div>
        <div class="u-toolbar u-toolbar-fixed" id="app-bar">
          <div class="u-toolbar-row">
            <div class="u-toolbar-start">
              <div class="u-toolbar-actions">
                <button class="u-toolbar-action u-icon-btn" type="button" id="menu-toggle"><i class="u-btn-icon mdi mdi-menu"></i></button>
              </div>
            </div>
            <div class="u-toolbar-center">
              <div class="u-toolbar-title">Material</div>
            </div>
            <div class="u-toolbar-end">
              <div class="u-toolbar-actions"><span class="u-dropdown u-toolbar-action">
                  <button class="u-icon-btn u-dropdown-toggle"><i class="u-btn-icon mdi mdi-theme-light-dark"></i></button>
                  <div class="u-dropdown-menu down-start">
                    <div class="u-dropdown-content">
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Auto)">System</button>
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Light)">Light</button>
                      <button class="u-dropdown-item" href="#" onclick="setThemeMode(ThemeMode.Dark)">Dark</button>
                    </div>
                  </div></span><a class="u-toolbar-action u-icon-btn" href="/angular" title="Universal Material Angular"><i class="u-btn-icon mdi mdi-angular"></i></a>
                <button class="u-toolbar-action u-icon-btn" id="rtl-toggle" type="button" title="Rtl"><i class="u-btn-icon mdi mdi-format-align-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container u-margin-lg-40 chapter" id="main-content">
          <h4 class="u-headline4 chapter-title">Text fields</h4>
          <div class="u-card-elevated example-card">
            <div class="u-card-content">
              <div class="u-form-field">
                <div class="u-text-field u-text-field-box">
                  <div class="u-text-field-leading-icon"><i class="mdi mdi-magnify"></i></div>
                  <div class="u-text-field-trailing-icon"><i class="mdi mdi-close-circle-outline"></i></div>
                  <label class="u-text-field-label" for="text-field-box">Text field box</label>
                  <div class="u-text-input">
                    <input type="text" placeholder="Placeholder" id="text-field-box" aria-describedby="textFieldBox">
                  </div>
                </div>
                <div class="u-text-field-supporting-text">
                  <div class="u-text-field-supporting-text-item">Supporting text</div>
                  <div class="u-text-field-supporting-text-item ml-auto">0 / 10</div>
                </div>
              </div>
            </div>
            <pre class="u-card-content example-card-code"><code class="language-html"></code></pre>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-box disabled">
              <div class="u-text-field-leading-icon"><i class="mdi mdi-magnify"></i></div>
              <div class="u-text-field-trailing-icon"><i class="mdi mdi-close-circle-outline"></i></div>
              <label class="u-text-field-label">Text field box</label>
              <input class="u-text-input" type="text" placeholder="Placeholder" disabled aria-describedby="textFieldBox">
            </div>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-outlined">
              <div class="u-text-field-leading-icon"><i class="mdi mdi-magnify"></i></div>
              <div class="u-text-field-trailing-icon"><i class="mdi mdi-close-circle-outline"></i></div>
              <label class="u-text-field-label" for="text-field-outline">Text field outline</label>
              <input class="u-text-input" type="text" placeholder="Placeholder" id="text-field-outline" aria-describedby="textFieldOutline">
            </div><small class="u-text-field-supporting-text" id="textFieldOutline">Text field outline</small>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-outlined disabled">
              <div class="u-text-field-leading-icon"><i class="mdi mdi-magnify"></i></div>
              <div class="u-text-field-trailing-icon"><i class="mdi mdi-close-circle-outline"></i></div>
              <label class="u-text-field-label" for="text-field-outline">Text field outline</label>
              <input class="u-text-input" type="text" placeholder="Placeholder" disabled>
            </div>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-box u-search-field">
              <div class="u-text-field-leading-icon"><i class="mdi mdi-magnify"></i></div>
              <div class="u-text-field-trailing-icon">
                <button class="u-icon-btn"><i class="u-btn-icon mdi mdi-calendar"></i></button>
              </div>
              <label class="u-text-field-label" for="search-field">Label text</label>
              <input class="u-text-input" type="text" placeholder="Search" id="search-field" aria-describedby="searchField">
            </div><small class="u-text-field-supporting-text" id="searchField">Supporting text</small>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-search-field u-search-field-elevated">
              <div class="u-text-field-leading-icon"><i class="mdi mdi-magnify"></i></div>
              <div class="u-text-field-trailing-icon">
                <button class="u-icon-btn"></button>
              </div>
              <input class="u-text-input" type="text" placeholder="Search" id="search-field-elevated">
            </div>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-box">
              <label class="u-text-field-label" for="text-area-box">Text area box</label>
              <textarea class="u-text-input" type="text" placeholder="Placeholder" id="text-area-box" aria-describedby="textAreaBox"></textarea>
            </div><small class="u-text-field-supporting-text" id="textAreaBox">Text area box</small>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-outlined">
              <label class="u-text-field-label" for="text-area-outline">Text area outline</label>
              <textarea class="u-text-input" type="text" placeholder="Placeholder" id="text-area-outline" aria-describedby="textAreaOutline"></textarea>
            </div><small class="u-text-field-supporting-text" id="textAreaOutline">Text area outline</small>
          </div>
          <div class="u-form-field">
            <div class="u-text-field u-text-field-box u-dropdown">
              <div class="u-text-field-trailing-icon">
                <div class="u-dropdown-toggle-icon"></div>
              </div>
              <label class="u-text-field-label">Dropdown</label>
              <button class="u-text-input u-dropdown-toggle" type="button" disabled>
                <div class="u-text-input-placeholder">No value</div>
              </button>
              <div class="u-dropdown-menu up w-100">
                <div class="u-dropdown-content">
                  <button class="u-dropdown-item" type="button">Option A</button>
                  <button class="u-dropdown-item" type="button">Option B</button>
                  <button class="u-dropdown-item" type="button">Option C</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="/js/universal-material.js"></script>
    <script src="/js/docs.js"></script>
  </head>
</html>